*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin-top: 0;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  width: 100%;
}

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
}

.main {
  overflow-x: clip;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 45px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #035ca2;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.link-style {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("/fonts/Oswald-ExtraLight.woff2") format("woff2"), url("/fonts/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("/fonts/Oswald-Regular.woff2") format("woff2"), url("/fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("/fonts/Oswald-SemiBold.woff2") format("woff2"), url("/fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("/fonts/Oswald-Bold.woff2") format("woff2"), url("/fonts/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top {
  position: relative;
  z-index: 1;
  background-color: #00477f;
  width: 100%;
  padding: 16px 0;
  margin: 0;
}
.header__main--position {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 100;
}
.header__main--bg {
  background-color: #035ca2;
}
.header__bottom {
  position: relative;
  z-index: 1;
  padding: 14px 0;
}
.header .top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .top__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin: 0 15px;
}
.header .top__item:active .arrow {
  display: block;
}
.header .top__item:hover .highlight {
  opacity: 1;
}
.header .top__item:hover .arrow {
  display: inline;
}
.header .top__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .social__icon {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header .social__icon.active {
  background-color: s #fff;
}
.header .social__icon img {
  width: 18px;
  height: 18px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header .social__icon.active img {
  opacity: 0;
}
.header__logo img {
  height: 103px;
  width: auto;
}
.header__nav-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 70px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item {
  margin: 0 15px;
}
.header__link {
  position: relative;
}
.header__link:hover {
  color: #f9e725;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #f9e725;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.header__link:hover::after {
  opacity: 1;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header .submenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.header .submenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.arrow {
  display: none;
  margin-left: 5px;
  width: 10px;
  height: auto;
}

.highlight {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu-link {
  font-size: 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu-link:hover {
  color: #f9e725;
}

.search-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #f9e725;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.search-button img {
  width: 20px;
  height: 20px;
}
.search-button .active {
  background-color: rgba(255, 255, 255, 0.2);
}

.header .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .submenu__item {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.header .submenu__item:hover {
  color: #f9e725;
}
.header__logo--indent {
  margin-bottom: 11px;
}

.hero-section {
  padding: 90px 0 85px;
  position: relative;
}
.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 20px;
}
.hero-section__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}
.hero-section__content span {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  text-transform: uppercase;
  color: #f9e725;
  margin-bottom: 11px;
}
.hero-section__content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 22px;
}
.hero-section__btn a {
  display: inline-block;
  background-color: #f9e725;
  color: #000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 17px 30px;
}

.large-title {
  display: block;
  position: relative;
  max-width: 675px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  z-index: 1;
  text-transform: uppercase;
  -webkit-transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  margin-bottom: 10px;
  width: 118%;
}

.image-container {
  position: relative;
  -webkit-box-shadow: 0 12px 20px -4px rgba(3, 8, 41, 0.7019607843);
          box-shadow: 0 12px 20px -4px rgba(3, 8, 41, 0.7019607843);
  border-radius: 25px;
  width: 100%;
}
.image-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 792/517;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 5px;
}

.news-section {
  margin-bottom: 30px;
}
.news-section__container {
  padding-top: 90px;
}
.news-section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.news-section__title h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #044f8b;
}
.news-section__btn a, .news-section__btn-mobile a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9e725;
  padding: 13px 16px;
  color: #000;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  padding-right: 40px;
}
.news-section__btn-mobile {
  display: none;
}
.news-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 100%;
}
.news-section__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.banner {
  position: relative;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.banner__image {
  width: 100%;
  overflow: hidden;
}
.banner__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .content {
  max-width: 417px;
  height: 611px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: 10%;
  background-size: cover;
  margin: 0 auto;
  padding: 10px;
}
.banner .content__title {
  color: #fff;
  text-align: center;
}
.banner .content__title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
.banner .logo-container {
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: 20;
  overflow: visible;
}
.banner .logo-container .logo__img {
  height: auto;
  max-width: 103px;
}

.horizon-banner-section__banner {
  margin-bottom: 30px;
}
.horizon-banner-section__img {
  width: 100%;
}

.news__container {
  padding-top: 42px;
  padding-bottom: 62px;
}
.news__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.card {
  height: 50%;
  width: 100%;
  max-width: 285px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 30px rgba(137, 137, 137, 0.25);
          box-shadow: 0px 10px 30px rgba(137, 137, 137, 0.25);
  padding: 23px 20px;
}
.card__title {
  color: #035ca2;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
.card .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  color: #b8b8b8;
  margin-bottom: 5px;
}
.card .date__num {
  font-size: 14px;
}
.card__article-title {
  font-size: 14px;
  color: #353535;
  font-weight: 600;
  margin-bottom: 10px;
}
.card .divider {
  height: 1px;
  background-color: #e6e6e6;
}

.news-nav__title {
  font-weight: 700;
  margin-bottom: 15px;
}
.news-nav__image {
  width: 100%;
  margin-bottom: 15px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(137, 137, 137, 0.25);
          box-shadow: 0px 10px 30px 0px rgba(137, 137, 137, 0.25);
}
.news-nav__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 792/517;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.news-nav .date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 24px;
}
.news-nav .date-container .calendar img {
  width: 20px;
  height: auto;
}
.news-nav .date-container span {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
  color: #454545;
}
.news-nav .news-text {
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
}
.news-nav .news-text__mark {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 17px 20px;
  margin: 23px 0;
}
.news-nav .news-text strong {
  font-style: normal;
  margin-bottom: 10px;
}
.news-nav .news-text__txt p {
  margin-bottom: 14px;
}
.news-nav .news-text a {
  color: #035ca2;
  text-decoration: underline;
}
.news-nav .menu-bar {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
}
.news-nav .menu-bar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.news-nav .menu-bar__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
.news-nav .menu-bar .bar-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #2b2b2b;
  margin-bottom: 10px;
}
.news-nav .sub-title {
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 5px;
  max-width: 110px;
  color: #2b2b2b;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  line-height: 2;
}
.news-nav .menu-bar__divider {
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
  margin: 10px 0;
}
.news-nav .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.news-nav .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.news-nav .social-link:hover {
  background-color: rgba(137, 137, 137, 0.25);
}
.news-nav .social-link__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.news-nav .social-link__link p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #383838;
}
.news-nav .social-link__img {
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
}

.news-card {
  position: relative;
  width: 100%;
  max-width: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.news-card__link {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.news-card__image {
  width: 100%;
  aspect-ratio: 567/378;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.news-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 0;
  margin-bottom: 15px;
}
.news-card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-card__date span {
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
  color: #b8b8b8;
}
.news-card__icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.news-card__divider {
  height: 1px;
  background-color: #e1e1e1;
  margin: 10px 0;
}
.news-card__category {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #035ca2;
}
.news-card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 20px;
}
.news-card .text__title {
  font-size: 22px;
  font-weight: 600;
  color: #353535;
  margin-bottom: 10px;
}
.news-card .text__text {
  font-size: 18px;
  font-weight: 200;
  color: #353535;
  margin-bottom: 15px;
}
.news-card .text__btn {
  margin-top: auto;
}
.news-card .text__link {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #035ca2;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  z-index: 6;
}
.news-card .text__link:hover {
  background-color: #035ca2;
}

.related-news {
  padding-bottom: 60px;
}
.related-news__title {
  margin: 0 0 25px 75px;
}
.related-news .news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.related-news .news-card {
  background-color: #fff;
  border-radius: 15px;
  max-width: 380px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.related-news .news-card .active {
  display: block;
}
.related-news .news-card__image {
  width: 100%;
  aspect-ratio: 567/378;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.related-news .news-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px 0;
}
.related-news .news-card__category {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #035ca2;
}
.related-news .news-card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.related-news .news-card__date span {
  font-size: 13px;
  font-weight: 200;
  line-height: 2;
  color: #b8b8b8;
}
.related-news .news-card__icon {
  width: 16px;
  margin-right: 5px;
}
.related-news .news-card__divider {
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}
.related-news .news-card__text {
  padding: 0 20px 24px;
}
.related-news .news-card__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #353535;
  margin-bottom: 8px;
}
.related-news .news-card__description {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
  color: #353535;
  margin-bottom: 15px;
}
.related-news__button {
  text-align: left;
}
.related-news .round-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.related-news .round-button {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #035ca2;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.related-news .round-button:hover {
  background-color: #035ca2;
}

.general-news {
  padding-top: 33px;
}
.general-news__title {
  margin-bottom: 14px;
}
.general-news__bar {
  background-color: #035ca2;
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  margin-bottom: 33px;
}
.general-news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 10px;
}
.general-news__top a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 14px 17px;
  text-decoration: none;
  color: #fff;
  background: rgba(85, 125, 201, 0.5);
}
.general-news__top a.active, .general-news__top a:hover {
  background-color: #f9e725;
  color: #000;
}
.general-news .buttons-bar {
  margin-bottom: 10px;
  display: none;
}
.general-news .buttons-bar__btn {
  cursor: pointer;
}
.general-news__divider {
  height: 2px;
  background-color: rgba(85, 125, 201, 0.5);
  margin: 10px 0;
}
.general-news__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 10px;
}
.general-news .general-news-section__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 39px 20px;
  margin-bottom: 50px;
}

.footer {
  position: relative;
  background-color: #035ca2;
}
.footer__container {
  padding-top: 80px;
}
.footer__img {
  position: absolute;
  top: -50px;
  right: 50%;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 50%;
}
.footer__logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 103px;
  height: 103px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.footer__section {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer__section:last-of-type {
  border-bottom: none;
}
.footer__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.14; /* 214.286% */
  text-transform: uppercase;
  margin-bottom: 19px;
}
.footer__contacts {
  margin-bottom: 20px;
}

.nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-section .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}
.nav-section .nav-container__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
}
.nav-section .nav-container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.nav-section .nav-container__link:hover {
  color: #f9e725;
}

.logo-section .partners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsor-logo {
  height: 60px;
  width: auto;
}

.contacts__link,
.nav-container__link,
.coop-container {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.contacts__link img {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0 10px 10px;
}
.contacts__link img:hover {
  background-color: #f9e725;
}
.contacts__link:hover {
  color: #f9e725;
}

.products__item:not(:last-child) {
  margin-bottom: 15px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.social-icons__link.active {
  background-color: #fff;
}
.social-icons__link img {
  width: 18px;
  height: 18px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.social-icons__link.active img {
  opacity: 0;
}

.coop-section {
  text-align: center;
}
.coop-section .coop-container {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #f9e725;
  border-radius: 50%;
  color: #000;
  padding: 18px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.slider-control:hover {
  background-color: #f9e725;
}

.navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 10px;
  max-width: 440px;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 23px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}
.button:hover {
  color: #f9e725;
}
.button img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #f9e725;
  border-radius: 50%;
  color: #000;
  padding: 18px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.button img:hover {
  background: rgb(255, 255, 0);
}

.divider-up {
  width: 1px;
  height: 20px;
  background: #b9b9b9;
}

.search {
  position: relative;
}
.search__input {
  font-size: 16px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 14px 28px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
  color: #fff;
  background: rgba(85, 125, 201, 0.5);
}
.search__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}
.search__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}
.search__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}
.search__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}
.search__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}
.search__icon {
  position: absolute;
  right: 24px;
  top: 50%;
  background-color: #f9e725;
  border-radius: 50%;
  padding: 12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  cursor: pointer;
}
.search__icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.news-card {
  position: relative;
  width: 100%;
  max-width: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.news-card__link {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.news-card__image {
  width: 100%;
  aspect-ratio: 567/378;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.news-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 0;
  margin-bottom: 15px;
}
.news-card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-card__date span {
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
  color: #b8b8b8;
}
.news-card__icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.news-card__divider {
  height: 1px;
  background-color: #e1e1e1;
  margin: 10px 0;
}
.news-card__category {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #035ca2;
}
.news-card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 20px;
}
.news-card .text__title {
  font-size: 22px;
  font-weight: 600;
  color: #353535;
  margin-bottom: 10px;
}
.news-card .text__text {
  font-size: 18px;
  font-weight: 200;
  color: #353535;
  margin-bottom: 15px;
}
.news-card .text__btn {
  margin-top: auto;
}
.news-card .text__link {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #035ca2;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  z-index: 6;
}
.news-card .text__link:hover {
  background-color: #035ca2;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.pagination__button {
  background-color: transparent;
  border: 1px solid #f9e725;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px;
}
.pagination__button:hover {
  background-color: #f9e725;
}
.pagination__button img {
  width: 14px;
  height: 14px;
}
.pagination__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.pagination__number {
  background-color: #f7f7f7;
  border-radius: 50%;
  color: #353535;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.pagination__number:hover {
  border: 2px solid #035ca2;
}
.pagination__number.active {
  background-color: #035ca2;
  color: #fff;
}

.header .mobile-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.header .mobile-nav__top img {
  height: 83px;
}
.header .mobile-nav__item {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}
.header .mobile-nav__link {
  color: #333;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header .mobile-nav__link:hover {
  color: #044f8b;
}
.header .mobile-nav__list {
  margin-bottom: 20px;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.menu-social__link {
  border-top: 1px solid #e8e8e8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(208, 208, 208, 0.2);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.menu-social__link:hover {
  background-color: rgba(113, 111, 111, 0.2);
}
.menu-social img {
  width: 24px;
  height: 24px;
}

.burger {
  display: none;
}

.dropdown-menu {
  display: none;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  z-index: 1000;
}

.dropdown-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 860px) {
  .burger {
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
  }
  .burger div {
    background: #000000;
    height: 2px;
    width: 20px;
    margin: 3px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger--decor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 1200px) {
  .header__logo img {
    height: 83px;
  }
  .footer .nav-container {
    gap: 50px;
  }
}
@media (max-width: 1050px) {
  .hero-section {
    padding: 40px 0 50px;
  }
  .hero-section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .hero-section .large-title {
    font-size: 30px;
    width: auto;
  }
  .news-section__container {
    padding-top: 60px;
  }
  .news-section .banner .content__title h2 {
    font-size: 30px;
  }
  .news__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .card {
    max-width: 860px;
  }
  .news .card__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 34px;
  }
  .news .divider {
    max-width: 350px;
  }
  .news .divider--hidden {
    display: none;
  }
  .related-news .news-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .related-news .news-card:nth-child(n+4) {
    display: none;
  }
  .footer__container {
    padding-top: 60px;
  }
  .footer .logo-section .partners-container {
    gap: 45px;
  }
  .footer .nav-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .nav-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px;
  }
  .footer .nav-container__container {
    gap: 160px;
  }
}
@media (max-width: 860px) {
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__top {
    display: none;
  }
  .header__nav-wrapper {
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .header__list {
    display: none;
  }
  .header__line {
    position: absolute;
    left: 0;
    width: 32px;
    height: 2px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .top__item .menu-link {
    font-size: 12px;
  }
  .hero-section__content p,
  .hero-section__content span {
    font-size: 16px;
  }
  .news-section__title h2 {
    font-size: 30px;
  }
  .news-section .text__btn a {
    font-size: 16px;
  }
  .news-card__info {
    padding: 10px 10px 0;
    margin-bottom: 5px;
  }
  .news-card__divider {
    margin: 5px 0;
  }
  .news-card__category {
    font-size: 10px;
  }
  .news-card__date span {
    font-size: 11px;
  }
  .news-card .text {
    margin: 10px;
  }
  .news-card .text__title {
    font-size: 16px;
  }
  .news-card .text__text {
    font-size: 12px;
  }
  .title {
    font-size: 35px;
  }
  .footer__container {
    padding-top: 60px;
  }
  .footer .nav-container__container {
    gap: 100px;
  }
}
@media (max-width: 768px) {
  .hero-section__btn a {
    padding: 15px 25px;
  }
  .hero-section .large-title {
    font-size: 25px;
  }
  .related-news .news-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
  }
  .related-news .news-card:nth-child(n+3) {
    display: none;
  }
  .footer .nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .header__top-list {
    display: none;
  }
  .hero-section .large-title {
    font-size: 23px;
  }
  .hero-section__btn a {
    padding: 10px 20px;
  }
  .news-section__btn {
    display: none;
  }
  .news-section__btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 18px;
  }
  .news-section .banner {
    display: none;
  }
  .title {
    font-size: 30px;
  }
  .footer__container {
    padding-top: 40px;
  }
  .footer .nav-container__container {
    gap: 50px;
  }
  .news__container {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .news .card__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .news .news-nav .news-text {
    font-size: 14px;
  }
  .news-wrapper {
    position: relative;
  }
  .news-wrapper .news-card {
    margin-bottom: 20px;
  }
  .news-wrapper .slider-control--left, .news-wrapper .slider-control--right {
    position: absolute;
  }
  .news-wrapper .slider-control--left {
    top: 100%;
    left: 112px;
  }
  .news-wrapper .slider-control--right {
    top: 100%;
    right: 112px;
  }
}
@media (max-width: 480px) {
  .header__top {
    display: none;
  }
  .hero-section {
    padding-top: 30px;
  }
  .hero-section__container {
    grid-template-columns: 1fr;
  }
  .hero-section__content {
    margin-bottom: 20px;
  }
  .news-section__container {
    padding-top: 30px;
  }
  .news-section__top {
    margin-bottom: 20px;
  }
  .news-section__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 30px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .news-section__title h2 {
    font-size: 25px;
  }
  .title {
    font-size: 20px;
  }
  .news__container {
    padding-bottom: 30px;
  }
  .related-news__title {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .related-news .news-wrapper {
    position: relative;
  }
  .related-news .news-wrapper .slider-control--left, .related-news .news-wrapper .slider-control--right {
    position: absolute;
  }
  .related-news .news-wrapper .slider-control--left {
    top: 100%;
    left: 80px;
  }
  .related-news .news-wrapper .slider-control--right {
    top: 100%;
    right: 80px;
  }
  .footer .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 860px) {
  .general-news .general-news-section__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .general-news__top a {
    font-size: 12px;
    padding: 11px 15px;
  }
  .general-news__bar {
    padding: 15px;
  }
  .general-news .buttons-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7px;
  }
  .general-news .general-news-section__cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }
  .general-news .pagination__number {
    width: 40px;
    height: 40px;
  }
  .general-news .pagination__button {
    padding: 14px;
  }
}
@media (max-width: 480px) {
  .navigation-buttons {
    gap: 0px 5px;
    width: 100%;
    margin-bottom: 15px;
  }
  .navigation-buttons .button {
    gap: 5px;
    font-size: 11px;
  }
  .navigation-buttons .button img {
    padding: 12px;
  }
}
@media (max-width: 480px) {
  .news-nav .social-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .news-nav .social-links .social-link {
    padding: 5px;
  }
  .news-nav .social-links .social-link__link p {
    font-size: 14px;
  }
}