@import "./utils/variables";

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: $color-brand-white;
  line-height: 1.2;
}
.main {
  overflow-x: clip;
  flex: 1 1 auto;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-size: 45px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: $color-brand-light;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
