@import "./utils/variables";

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: $color-brand-white;
  line-height: 1.2;
}
.main {
  overflow-x: clip;
  flex: 1 1 auto;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
}
