@use "./utils/variables";

body {
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: variables.$color-brand-white;
    line-height: 1.2;
}
.main {
    overflow-x: clip;
    flex: 1 1 auto;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    // overflow: auto;
    position: relative;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-size: 45px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: variables.$color-brand-light;
}
.subtitle {
    font-size: 30px;
    font-weight: 200;
    line-height: 1.2;
    color: #353535;
    text-transform: uppercase;
}
.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.link-style {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: variables.$color-brand-white;
    white-space: nowrap;
}
