<footer class="footer">
    <div class="footer__img">
        <img class="footer__logo" src="@img/logo.png" alt="logo">
    </div>
    <div class="footer__container container">
        <div class="footer__section logo-section">
            <div class="partners-container">
                <div class="partners-container">
                    <a href="https://www.ihf.info/ "><img src="@img/partners/ihf.png" alt="partner"
                                                          class="sponsor-logo"></a>
                    <a href="https://www.eurohandball.com/"><img src="@img/partners/ehf.png" alt="partner"
                                                                 class="sponsor-logo"></a>
                    <a href="https://mms.gov.ua/"><img src="@img/partners/min-mol-sport.png" alt="patrner"
                                                       class="sponsor-logo"></a>
                    <a href="https://noc-ukr.org/"><img src="@img/partners/comitet.png" alt="partner"
                                                        class="sponsor-logo"></a>
                    <a href="https://joma.ua/"><img src="@img/partners/joma.png" alt="partner" class="sponsor-logo"></a>
                </div>
            </div>
        </div>
        <div class="footer__section">
            <div class="nav-section">
                <div class="nav-info">
                    <h4 class="navigation__title footer__title">
                        Навігація
                    </h4>
                    <div class="nav-container">
                        <ul class="nav-container__nav navigation">
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Шкільна ліга</a>
                            </li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Навчання</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Партнери</a></li>
                        </ul>
                        <ul class="nav-container__nav navigation">
                            <li class="nav-container__item"><a class="nav-container__link" href="#">XPS</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Вакансії</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Фундамент</a></li>
                        </ul>
                        <ul class="nav-container__nav navigation">
                            <li class="nav-container__item"><a class="nav-container__link" href="#">ФГУ</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Судді та
                                    делегати</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="general-news.html">Новини</a>
                            </li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Досягнення</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Змагання</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Збірні</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Команди</a></li>
                            <li class="nav-container__item"><a class="nav-container__link" href="#">Мультимедія</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contact-info">
                    <h4 class="footer__title">
                        Контакти
                    </h4>
                    <div class="contacts__section">
                        <ul class="footer__contacts contacts">
                            <li class="contacts__item">
                                <a class="contacts__link" href="#" target="_blank">
                                    <img src="@img/pin.svg" alt="location icon">
                                    <span>м. Київ, вул. Січових стрільців, 10 офіс 39,04053</span>
                                </a>
                            </li>
                            <li class="contacts__item">
                                <a class="contacts__link" href="tel:+380967899962">
                                    <img src="@img/phone-call.svg" alt="phone icon">
                                    <span>Тел: +38 (096) 789 99 62</span>
                                </a>
                            </li>
                            <li class="contacts__item">
                                <a class="contacts__link" href="mailto:unf@nbi.com.ua">
                                    <img src="@img/mail.svg" alt="email icon">
                                    <span>Електронна пошта: UHF@NBI.COM.UA; UHF15@UKR.NET</span>
                                </a>

                            </li>
                        </ul>
                        <div class="social-icons">
                            <a class="social-icons__link" href="#" target="_blank">
                                <img src="@img/facebook.svg" alt="facebook">
                            </a>
                            <a class="social-icons__link" href="#" target="_blank">
                                <img src="@img/instagram.svg" alt="instagram">
                            </a>
                            <a class="social-icons__link" href="#" target="_blank">
                                <img src="@img/youtube.svg" alt="youtube">
                            </a>
                            <a class="social-icons__link" href="#" target="_blank">
                                <img src="@img/telegram.svg" alt="telegram">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-section coop-section">
            <div class="coop-container">
                <p>Cooperating 2024</p>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="@js/main.ts"></script>
<% if (typeof scripts !== 'undefined' && scripts.length > 0) { %>
    <% scripts.forEach(script => { %>
        <script src="<%= script %>"></script>
    <% }); %>
<% } %>
</body>
</html>