// Hero-color
$color-brand-light: #035ca2;
$color-brand-dark: #044f8b;
$color-brand-yellow: #f9e725;
$color-brand-white: #fff;
$color-brand-semidark: #19598b;
$color-brand-black: #353535;

// Breakpoint

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1050px;
$breakpoint_l: 860px;
$breakpoint_m: 768px;
$breakpoint_s: 680px;
$breakpoint_xs: 480px;
$breakpoint_ssmall: 360px;

$fa-font-path: "../fonts";
