<%- include('./partials/header'); %>
<main>
    <section class="hero-banner">
        <div class="hero-banner__container container">
            <div class="hero-banner__inner banner-major">
                <a class="banner-major__link" href="#">
                    <img class="banner-major__img" src="@img/banner-major.png" alt="picture banner" loading="lazy">
                </a>
                <div class="banner-major__mobile-card-inner">
                    <div class="banner-major__info">
                        <span class="banner-major__category">Збірні України</span>
                        <div class="banner-major__date">
                            <img src="@img/calendar-news.svg" alt="Календар" class="banner-major__icon">
                            <span>12 вересня 2024</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="description">
                        <h3 class="description__title">Заголовок новини</h3>
                        <p class="description__text">Короткий опис новини, що містить основну інформацію про
                            подію. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae aut hic delectus, commodi ratione molestiae quaerat rerum sint voluptatibus. Commodi omnis pariatur totam quos quisquam vero? Aut, deleniti. Laboriosam, eaque?</p>
                        <div class="description__btn">
                            <a class="description__link" href="#">Детальніше</a>
                        </div>
                    </div>
                </div>
                <div class="banner-major__bottom">
                    <div class="banner-major__text">
                        <h3 class="banner-major__title">
                            Визначився склад зірної України (U-18) на кваліфікацію до Євро-2024, що пройде 5-7 січня у Зубржі
                        </h3>
                    </div>
                </div>
            </div>
            <div class="banner-major__logo banner-major__logo--position">
                <img src="@img/logo.png" alt="logo fgu">
            </div>
        </div>
        <!-- <div class="hero-banner__container container">
            <div class="hero-banner__inner banner-major">
                <a class="banner-major__link" href="#">
                    <img class="banner-major__img" src="@img/banner-major.png" alt="picture banner" loading="lazy">
                </a>
                <div class="banner-major__bottom">
                    <div class="banner-major__text">
                        <h3 class="banner-major__title">
                            Визначився склад зірної України (U-18) на кваліфікацію до Євро-2024, що пройде 5-7 січня у Зубржі
                        </h3>
                    </div>
                </div>
            </div>
            <div class="banner-major__logo banner-major__logo--position">
                <img src="@img/logo.png" alt="logo fgu">
            </div>
        </div> -->
    </section>
</main>
<%- include('./partials/footer'); %>