<%- include('./partials/header'); %>
<main class="main">
    <section class="calendar">
        <div class="calendar__container container">
            <div class="calendar__tours tour">
                <div class="tour__inner">
                    <div class="tour__subtitle  subtitle">
                        <h3>Тур 1</h3>
                    </div>
                    <div class="custom-select custom-select--pos">
                        <div class="custom-select__inner">
                            <div class="custom-select__value" id="seasonSelected">Тур</div>
                            <div class="options-container">
                                <div class="options-container__option" data-value="tour 1">Тур 1</div>
                                <div class="options-container__option" data-value="tour 2">Тур 2</div>
                                <div class="options-container__option" data-value="tour 3">Тур 3</div>
                            </div>
                        </div>
                        <span class="custom-select__arrow custom-select__arrow--loc">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </div>
                </div>
                <div class=" tour__table table">
                    <div class="table__respons">
                        <table class="table table--spacing">
                            <thead>
                                <tr class="row table__header">
                                    <th class="cell cell--center cell--nowrap">Дата</th>
                                    <th class="cell cell--center cell--nowrap">Час</th>
                                    <th class="cell cell--center cell--nowrap">Матч</th>
                                    <th class="cell cell--center cell--nowrap">Рахунок</th>
                                    <th class="cell cell--center cell--nowrap"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row row--color">
                                    <td class="cell cell--center cell--nowrap">12.03.2025</td>
                                    <td class="cell cell--center cell--nowrap">18:00</td>
                                    <td class="cell cell--center cell--nowrap cell--team">
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/karpati.jpg" alt="club img">
                                            <span class="team__name">«Карпати»</span>
                                        </div>
                                        /
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/motor.png" alt="club img">
                                            <span class="team__name">«Мотор»</span>
                                        </div>
                                    </td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link" href="#">1:0</a></td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link cell__link--scale" href="#"><img src="@img/youtube-color.svg" alt="youtube"></a></td>
                                </tr>
                                <tr class="row row--color">
                                    <td class="cell cell--center cell--nowrap">13.03.2025</td>
                                    <td class="cell cell--center cell--nowrap">20:00</td>
                                    <td class="cell cell--center cell--nowrap cell--team">
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/dush.jpg" alt="club img">
                                            <span class="team__name">«ХНУ - ДЮСШ 1»</span>
                                        </div>
                                        /
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/ska.jpg" alt="club img">
                                            <span class="team__name">«СКА-ШВСМ»</span>
                                        </div>
                                    </td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link" href="#">1:0</a></td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link cell__link--scale" href="#"><img src="@img/youtube-color.svg" alt="youtube"></a></td>
                                </tr>
                                <tr class="row row--color">
                                    <td class="cell cell--center cell--nowrap">14.03.2025</td>
                                    <td class="cell cell--center cell--nowrap">19:30</td>
                                    <td class="cell cell--center cell--nowrap cell--team">
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/karpati.jpg" alt="club img">
                                            <span class="team__name">Команда E</span>
                                        </div>
                                        /
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/motor.png" alt="club img">
                                            <span class="team__name">Команда F</span>
                                        </div>
                                    </td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link" href="#">1:0</a></td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link cell__link--scale" href="#"><img src="@img/youtube-color.svg" alt="youtube"></a></td>
                                </tr>
                                <tr class="row row--color">
                                    <td class="cell cell--center cell--nowrap">15.03.2025</td>
                                    <td class="cell cell--center cell--nowrap">17:45</td>
                                    <td class="cell cell--center cell--nowrap cell--team">
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/karpati.jpg" alt="club img">
                                            <span class="team__name">Команда E</span>
                                        </div>
                                        /
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/motor.png" alt="club img">
                                            <span class="team__name">Команда F</span>
                                        </div>
                                    </td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link" href="#">1:0</a></td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link cell__link--scale" href="#"><img src="@img/youtube-color.svg" alt="youtube"></a></td>
                                </tr>
                                <tr class="row row--color">
                                    <td class="cell cell--center cell--nowrap">16.03.2025</td>
                                    <td class="cell cell--center cell--nowrap">16:00</td>
                                    <td class="cell cell--center cell--nowrap cell--team">
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/karpati.jpg" alt="club img">
                                            <span class="team__name">Команда E</span>
                                        </div>
                                        /
                                        <div class="team">
                                            <img class="team__logo" width="25" src="@img/motor.png" alt="club img">
                                            <span class="team__name">Команда F</span>
                                        </div>
                                    </td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link" href="#">1:0</a></td>
                                    <td class="cell cell--center cell--nowrap"><a class="cell__link cell__link--scale" href="#"><img src="@img/youtube-color.svg" alt="youtube"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>