<%- include('./partials/header'); %>
<main class="main">
    <section class="calendar-cards">
        <div class="calendar-cards__container container">
            <div class="calendar-cards__title title">
                <h2>Найближчі міжнародні матчі</h2>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper calendar-cards__inner">
                    <div class="swiper-slide calendar-card">
                        <p class="calendar-card__subtitle">Чоловіча збірна України</p>
                        <div class="calendar-card__titles">
                            <p class="hidden-title">Завершений</p>
                            <p><span>Відбір на Євро-2026 Груповий етап 1 тур</span></p>
                            <p class="calendar-card__date">четвер 7 листопада 2024 о 20:30</p>
                        </div>
                        <div class="calendar-card__wrapper">
                            <div class="calendar-card__left">
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/nl.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Нідерланди</div>
                                </div>
                                <div class="calendar-card__score">-</div>
                            </div>
                            <div class="calendar-card__right">
                                <div class="calendar-card__score">-</div>
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/ua.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Україна</div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-card__time hidden-title">
                            <span class="calendar-card__timeScore">14 - 18</span>
                            <span class="calendar-card__timeText">Половина часу</span>
                        </div>
                        <div class="divider"></div>
                        <div class="calendar-card__place">
                            <span>Місце проведення</span>
                            <div class="calendar-card__item">
                                <p>Алмере, Нідерланди</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide calendar-card">
                        <p class="calendar-card__subtitle">Чоловіча збірна України</p>
                        <div class="calendar-card__titles">
                            <p class="hidden-title">Завершений</p>
                            <p><span>Відбір на Євро-2026 Груповий етап 2 тур</span></p>
                            <p class="calendar-card__date">неділя 10 листопада 2024 о 15:00</p>
                        </div>
                        <div class="calendar-card__wrapper">
                            <div class="calendar-card__left">
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/ua.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Україна</div>
                                </div>
                                <div class="calendar-card__score">-</div>
                            </div>
                            <div class="calendar-card__right">
                                <div class="calendar-card__score">-</div>
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/fo.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Фарерські острови</div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-card__time hidden-title">
                            <span class="calendar-card__timeScore">14 - 18</span>
                            <span class="calendar-card__timeText">Половина часу</span>
                        </div>
                        <div class="divider"></div>
                        <div class="calendar-card__place">
                            <span>Місце проведення</span>
                            <div class="calendar-card__item">
                                <p>Вільнюс, Литва.Avia Solutions Group Arena</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide calendar-card">
                        <p class="calendar-card__subtitle">Жіноча збірна України</p>
                        <div class="calendar-card__titles">
                            <p class="hidden-title">Завершений</p>
                            <p><span>Турнір трьох збірних</span></p>
                            <p class="calendar-card__date">субота 23 листопада 2024</p>
                        </div>
                        <div class="calendar-card__wrapper">
                            <div class="calendar-card__left">
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/sk.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Словаччина</div>
                                </div>
                                <div class="calendar-card__score">-</div>
                            </div>
                            <div class="calendar-card__right">
                                <div class="calendar-card__score">-</div>
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/ua.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Україна</div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-card__time hidden-title">
                            <span class="calendar-card__timeScore">14 - 18</span>
                            <span class="calendar-card__timeText">Половина часу</span>
                        </div>
                        <div class="divider"></div>
                        <div class="calendar-card__place">
                            <span>Місце проведення</span>
                            <div class="calendar-card__item">
                                <p>Татабанья, Угорщина</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide calendar-card">
                        <p class="calendar-card__subtitle">Жіноча збірна України</p>
                        <div class="calendar-card__titles">
                            <p class="hidden-title">Завершений</p>
                            <p><span>Євро-2024.Фінальний турнір</span></p>
                            <p class="calendar-card__date">п'ятниця 29 листопада 2024 о 21:30</p>
                        </div>
                        <div class="calendar-card__wrapper">
                            <div class="calendar-card__left">
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/de.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Німеччина</div>
                                </div>
                                <div class="calendar-card__score">-</div>
                            </div>
                            <div class="calendar-card__right">
                                <div class="calendar-card__score">-</div>
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/ua.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Україна</div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-card__time hidden-title">
                            <span class="calendar-card__timeScore">14 - 18</span>
                            <span class="calendar-card__timeText">Половина часу</span>
                        </div>
                        <div class="divider"></div>
                        <div class="calendar-card__place">
                            <span>Місце проведення</span>
                            <div class="calendar-card__item">
                                <p>Інсбрук, Австрія.Olyupiaworld Innsbruck</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide calendar-card">
                        <p class="calendar-card__subtitle">Жіноча збірна України</p>
                        <div class="calendar-card__titles">
                            <p class="hidden-title">Завершений</p>
                            <p><span>Євро-2024.Фінальний турнір</span></p>
                            <p class="calendar-card__date">неділя 1 грудня 2024 о 21:30</p>
                        </div>
                        <div class="calendar-card__wrapper">
                            <div class="calendar-card__left">
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/is.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Ісландія</div>
                                </div>
                                <div class="calendar-card__score">-</div>
                            </div>
                            <div class="calendar-card__right">
                                <div class="calendar-card__score">-</div>
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/ua.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Україна</div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-card__time hidden-title">
                            <span class="calendar-card__timeScore">14 - 18</span>
                            <span class="calendar-card__timeText">Половина часу</span>
                        </div>
                        <div class="divider"></div>
                        <div class="calendar-card__place">
                            <span>Місце проведення</span>
                            <div class="calendar-card__item">
                                <p>Інсбрук, Австрія.Olyupiaworld Innsbruck</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide calendar-card">
                        <p class="calendar-card__subtitle">Жіноча збірна України</p>
                        <div class="calendar-card__titles">
                            <p class="hidden-title">Завершений</p>
                            <p><span>Євро-2024.Фінальний турнір</span></p>
                            <p class="calendar-card__date"> вівторок 3 грудня 2024 о 19:00</p>
                        </div>
                        <div class="calendar-card__wrapper">
                            <div class="calendar-card__left">
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/ua.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Україна</div>
                                </div>
                                <div class="calendar-card__score">-</div>
                            </div>
                            <div class="calendar-card__right">
                                <div class="calendar-card__score">-</div>
                                <div class="calendar-card__flag">
                                    <div class="calendar-card__logo">
                                        <img style="width: 44px; height: 44px;" src="@flags/svg/nl.svg" alt="flag">
                                    </div>
                                    <div class="calendar-card__country">Нідерланди</div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar-card__time hidden-title">
                            <span class="calendar-card__timeScore">14 - 18</span>
                            <span class="calendar-card__timeText">Половина часу</span>
                        </div>
                        <div class="divider"></div>
                        <div class="calendar-card__place">
                            <span>Місце проведення</span>
                            <div class="calendar-card__item">
                                <p>Інсбрук, Австрія.Olyupiaworld Innsbruck</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="calendar-cards__btn">
                    <button class="slider-control slider-control--left">
                        <img class="slider-control__icon" src="@img/left-arrow-news.svg" alt="arrow">
                    </button>
                    <button class="slider-control slider-control--right calendar-cards__btn">
                        <img class="slider-control__icon" src="@img/right-arrow-news.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>