<%- include('./partials/header'); %>
<main class="main">
    <section class="general-news">
        <div class="general-news__container container">
            <h1 class="general-news__title title">Новини</h1>
            <div class="general-news__bar">
                <div class="general-news__top">
                    <a href="#">Чемпіонат України</a>
                    <a href="#">Перша ліга</a>
                    <a href="#">Новини ФГУ</a>
                    <a href="#">Новини</a>
                    <a href="#">Кубок України</a>
                    <a href="#">Збірні України</a>
                    <a href="#">Жіноча Суперліга</a>
                    <a href="#">Єврокубки</a>
                    <a href="#">Дитячо-юнацький гандбол</a>
                    <a href="#">Вища ліга</a>
                </div>
                <div class="general-news__buttons buttons-bar">
                    <a class="buttons-bar__btn button">
                        <img src="@img/left-arrow-news.svg" alt="arrow">
                    </a>
                    <a class="buttons-bar__btn button">
                        <img src="@img/right-arrow-news.svg" alt="arrow">
                    </a>
                </div>
                <div class="general-news__divider"></div>
                <div class="general-news__search search">
                    <input type="text" class="search__input" placeholder="Пошук...">
                    <button class="search__icon">
                        <img src="@img/search.svg" alt="search">
                    </button>
                </div>
            </div>
            <div class="general-news-section">
                <div class="general-news-section__cards">
                    <div class="news-card general-card">
                        <a class="news-card__link" href="#"></a>
                        <img class="news-card__image" src="@img/news-photo.webp" alt="new" />
                        <div class="news-card__info">
                            <span class="news-card__category general-card__category">Збірні України</span>
                            <div class="news-card__date general-card__date">
                                <img class="news-card__icon" src="@img/calendar-news.svg" alt="calendar" />
                                <span>12 вересня 2024</span>
                            </div>
                        </div>
                        <div class="news-card__divider"></div>
                        <div class="text general-text">
                            <h3 class="text__title general-text__title">Заголовок новини</h3>
                            <p class="text__text general-text__text">Короткий опис новини, що містить основну інформацію про
                                подію.</p>
                            <div class="text__btn btn general-btn">
                                <a class="btn__link general-btn__link" href="#">Детальніше</a>
                            </div>
                        </div>
                    </div>
                    <div class="news-card general-card">
                        <a class="news-card__link" href="#"></a>
                        <img class="news-card__image" src="@img/news-photo.webp" alt="new" />
                        <div class="news-card__info">
                            <span class="news-card__category general-card__category">Збірні України</span>
                            <div class="news-card__date general-card__date">
                                <img class="news-card__icon" src="@img/calendar-news.svg" alt="calendar" />
                                <span>12 вересня 2024</span>
                            </div>
                        </div>
                        <div class="news-card__divider"></div>
                        <div class="text general-text">
                            <h3 class="text__title general-text__title">Заголовок новини</h3>
                            <p class="text__text general-text__text">Короткий опис новини, що містить основну інформацію про
                                подію.</p>
                            <div class="text__btn btn general-btn">
                                <a class="btn__link general-btn__link" href="#">Детальніше</a>
                            </div>
                        </div>
                    </div>
                    <div class="news-card general-card">
                        <a class="news-card__link" href="#"></a>
                        <img class="news-card__image" src="@img/news-photo.webp" alt="new" />
                        <div class="news-card__info">
                            <span class="news-card__category general-card__category">Збірні України</span>
                            <div class="news-card__date general-card__date">
                                <img class="news-card__icon" src="@img/calendar-news.svg" alt="calendar" />
                                <span>12 вересня 2024</span>
                            </div>
                        </div>
                        <div class="news-card__divider"></div>
                        <div class="text general-text">
                            <h3 class="text__title general-text__title">Заголовок новини</h3>
                            <p class="text__text general-text__text">Короткий опис новини, що містить основну інформацію про
                                подію.</p>
                            <div class="text__btn btn general-btn">
                                <a class="btn__link general-btn__link" href="#">Детальніше</a>
                            </div>
                        </div>
                    </div>
                    <div class="news-card general-card">
                        <a class="news-card__link" href="#"></a>
                        <img class="news-card__image" src="@img/news-photo.webp" alt="new" />
                        <div class="news-card__info">
                            <span class="news-card__category general-card__category">Збірні України</span>
                            <div class="news-card__date general-card__date">
                                <img class="news-card__icon" src="@img/calendar-news.svg" alt="calendar" />
                                <span>12 вересня 2024</span>
                            </div>
                        </div>
                        <div class="news-card__divider"></div>
                        <div class="text general-text">
                            <h3 class="text__title general-text__title">Заголовок новини</h3>
                            <p class="text__text general-text__text">Короткий опис новини, що містить основну інформацію про
                                подію.</p>
                            <div class="text__btn btn general-btn">
                                <a class="btn__link general-btn__link" href="#">Детальніше</a>
                            </div>
                        </div>
                    </div>
                    <div class="news-card general-card">
                        <a class="news-card__link" href="#"></a>
                        <img class="news-card__image" src="@img/news-photo.webp" alt="новина" />
                        <div class="news-card__info">
                            <span class="news-card__category general-card__category">Збірні України</span>
                            <div class="news-card__date general-card__date">
                                <img class="news-card__icon" src="@img/calendar-news.svg" alt="calendar" />
                                <span>12 вересня 2024</span>
                            </div>
                        </div>
                        <div class="news-card__divider"></div>
                        <div class="text general-text">
                            <h3 class="text__title general-text__title">Заголовок новини</h3>
                            <p class="text__text general-text__text">Короткий опис новини, що містить основну інформацію про
                                подію.</p>
                            <div class="text__btn btn general-btn">
                                <a class="btn__link general-btn__link" href="#">Детальніше</a>
                            </div>
                        </div>
                    </div>
                    <div class="news-card general-card">
                        <a class="news-card__link" href="#"></a>
                        <img class="news-card__image" src="@img/news-photo.webp" alt="new" />
                        <div class="news-card__info">
                            <span class="news-card__category general-card__category">Збірні України</span>
                            <div class="news-card__date general-card__date">
                                <img class="news-card__icon" src="@img/calendar-news.svg" alt="calendar" />
                                <span>12 вересня 2024</span>
                            </div>
                        </div>
                        <div class="news-card__divider"></div>
                        <div class="text general-text">
                            <h3 class="text__title general-text__title">Заголовок новини</h3>
                            <p class="text__text general-text__text">Короткий опис новини, що містить основну інформацію про
                                подію.</p>
                            <div class="text__btn btn general-btn">
                                <a class="btn__link general-btn__link" href="#">Детальніше</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <span class="pagination__button pagination__button--disabled">
                        <img src="@img/left-arrow-news.svg" alt="arrow" />
                    </span>
                    <div class="pagination__numbers">
                        <a href="#" class="pagination__number pagination__number--regular active">1</a>
                        <a href="#" class="pagination__number pagination__number--regular">2</a>
                        <a href="#" class="pagination__number pagination__number--regular">3</a>
                        <span class="pagination__number pagination__number--disabled">...</span>
                        <a href="#" class="pagination__number pagination__number--regular">10</a>
                    </div>
                    <a href="#" class="pagination__button pagination__button--regular">
                        <img src="@img/right-arrow-news.svg" alt="arrow" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>