<%- include('./partials/header'); %>
<main>
    <section class="match-report">
        <div class="match-report__container container">
            <div class="match-report__inner">
                <div class="match-report__info match-report__info--highlight">
                    <h2 class="match-report__team">Жіноча Суперліга<span class="match-report__separator">•</span></h2>
                    <p class="match-report__group">Група A<span class="match-report__separator">•</span></p>
                    <p class="match-report__round">9 Тур<span class="match-report__separator">•</span></p>
                    <p class="match-report__date">15 квітня 2025, 18:00</p>
                </div>
            </div>
            <div class="match-report__teams team">
                <div class="team__info team__info--fonts">
                    <div class="team__img">
                        <a href="#">
                            <img height="180" src="@img/galichanka.jpg" alt="team`s logo">
                        </a>
                    </div>
                    <div class="team__name">
                        <a href="#">«Галичанка»</a>
                    </div>
                    <div class="team__origin">Львів</div>
                </div>
                <div class="match-report__score score score--fonts">
                    <div class="score__main">41 : 25</div>
                    <div class="score__half">22 : 10</div>
                    <a class="score__link" href="#">
                        <img width="50" src="@img/youtube-color.svg" alt="youtube">
                    </a>
                </div>
                <div class="team__info team__info--fonts">
                    <div class="team__img">
                        <a href="#">
                            <img height="180" src="@img/karpati.jpg" alt="team`s logo">
                        </a>
                    </div>
                    <div class="team__name">
                        <a href="#">«Карпати»</a>
                    </div>
                    <div class="team__origin">Ужгород</div>
                </div>
            </div>
            <div class="match-report__stat match-stat">
                <ul class="match-stat__list">
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Голи/Удари</span>
                        <span class="match-stat__value">21/57</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Штрафні удари</span>
                        <span class="match-stat__value">1/1</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Жовті картки</span>
                        <span class="match-stat__value">2</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Червоні картки</span>
                        <span class="match-stat__value">1</span>
                    </li>
                </ul>
                <ul class="match-stat__list match-stat__list--mobil">
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__mobil-label">Голи/Удари</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__mobil-label">Штрафні удари</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__mobil-label">Жовті картки</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__mobil-label">Червоні картки</span>
                    </li>
                </ul>
                <ul class="match-stat__list">
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Голи/Удари</span>
                        <span class="match-stat__value">21/57</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Штрафні удари</span>
                        <span class="match-stat__value">1/1</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Жовті картки</span>
                        <span class="match-stat__value">2</span>
                    </li>
                    <li class="match-stat__item match-stat__item--fonts">
                        <span class="match-stat__label">Червоні картки</span>
                        <span class="match-stat__value">1</span>
                    </li>
                </ul>
            </div>
            <div class="links-block links-block--markup links-block--fonts">
                <div class="links-block__item">
                    <a href="#">
                        <i class="fas fa-play"></i>
                        Хід гри
                    </a>
                </div>
                <div class="links-block__item">
                    <a href="#">
                        <i class="fas fa-chart-line"></i>
                        Статистичні звіти
                    </a>
                </div>
                <div class="links-block__item">
                    <a href="#">
                        <i class="fas fa-file-alt"></i>
                        Звіт про матч
                    </a>
                </div>
            </div>
            <div class="tabs">
                <button class="tabs__button tabs__button--fonts active" id="tab-players" role="tab" data-tab="#playerStat">Статистика гравців</button>
                <button class="tabs__button tabs__button--fonts" id="tab-matches" role="tab" data-tab="#matchStats"> Статистика матчів</button>
                <button class="tabs__button tabs__button--fonts" id="tab-tv" role="tab" data-tab="#tvSchedule">TV Schedule</button>
            </div>
            <div class="tabs__content table active" id="players-stat" role="tabpanel" aria-labelledby="tab-players">
                <div class="table__player-stat">
                    <div class="title">
                        <h2>Статистика гравців</h2>
                    </div>
                    <table class="table__general">
                        <tr>
                            <th>#</th>
                            <th>Гравець</th>
                            <th>ЖК</th>
                            <th>2М</th>
                            <th>ЧК</th>
                            <th>С</th>
                            <th>Г</th>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Шмідт, Табеа</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>8</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Емменеггер, Мія Софія</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>8</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Кюндіг, Керстін</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>8</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Гаутші, Дафне</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>7</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Гольдманн, Норма</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>5</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Рінер, Алессія</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>5</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>Алтгерр, Маліна</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Вольфф, Лаурентія</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Фрей, Ліза</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Бауманн, Ера</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>Кер, Шарлотта</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>Бухер, Нурія</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>33</td>
                            <td>Снедкеруд, Нора</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>34</td>
                            <td>Бехтігер, Емма</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                    </table>
                    <div class="table__title title">
                        <h2 class="small-table">Воротарі</h2>
                    </div>
                    <div class="table__container table__goalkeeper">
                        <table>
                            <tr>
                                <th>#</th>
                                <th>Вротар</th>
                                <th>SV</th>
                                <th>SH</th>
                                <th>SV%</th>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>Vojnovic, Maja</td>
                                <td>9</td>
                                <td>27</td>
                                <td>33.33</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Ðajic, Dijana</td>
                                <td>2</td>
                                <td>8</td>
                                <td>25.00</td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <th>#</th>
                                <th>Вротар</th>
                                <th>SV</th>
                                <th>SH</th>
                                <th>SV%</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Schüpbach, Lea</td>
                                <td>12</td>
                                <td>44</td>
                                <td>27.27</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Brütsch, Manuela</td>
                                <td>1</td>
                                <td>2</td>
                                <td>50.00</td>
                            </tr>
                        </table>
                    </div>
                    <div class="table__title title">
                        <h2 class="small-table">Командні офіційні особи</h2>
                    </div>
                    <div class="table__container">
                        <table class="table__official">
                            <tr>
                                <th>#</th>
                                <th>Командний офіційний</th>
                                <th>YC</th>
                                <th>2M</th>
                                <th>RC</th>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>Келлер, Вероніка</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>Йоа, Кнут Ове</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>Чукович, Мілош</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>Мюллер, Мішель</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </table>
                        <table class="table__official">
                            <tr>
                                <th>#</th>
                                <th>Командний офіційний</th>
                                <th>YC</th>
                                <th>2M</th>
                                <th>RC</th>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>Жбогар, Ян</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>Аджич, Драган</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>Павліч, Альяж</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>Кревс, Міха</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>