<%- include('./partials/header'); %>
<main class="main">
    <section class="news">
        <div class="news__container container">
            <div class="news__section">
                <aside class="card">
                    <div class="card__title">Більше матеріалів</div>
                    <div class="card__content">
                        <div class="card__item">
                            <div class="date">
                                <img class="date__image" src="@img/calendar-news.svg" alt="календар">
                                <div class="date__num">06.01.2024</div>
                            </div>
                            <div class="card__article-title">Віталій Халюза: «Ця перемога присвячена захисникам
                                України»
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="card__item">
                            <div class="date">
                                <img class="date__image" src="@img/calendar-news.svg" alt="календар">
                                <div class="date__num">06.01.2024</div>
                            </div>
                            <div class="card__article-title">Віталій Халюза: «Ця перемога присвячена захисникам
                                України»
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="card__item">
                            <div class="date">
                                <img class="date__image" src="@img/calendar-news.svg" alt="календар">
                                <div class="date__num">06.01.2024</div>
                            </div>
                            <div class="card__article-title">Віталій Халюза: «Ця перемога присвячена захисникам
                                України»
                            </div>
                            <div class="divider divider--hidden"></div>
                        </div>
                        <div class="card__item">
                            <div class="date">
                                <img class="date__image" src="@img/calendar-news.svg" alt="календар">
                                <div class="date__num">06.01.2024</div>
                            </div>
                            <div class="card__article-title">Віталій Халюза: «Ця перемога присвячена захисникам
                                України»
                            </div>
                            <div class="divider divider--hidden"></div>
                        </div>
                    </div>

                </aside>
                <div class="news-nav">
                    <div class="news-nav__image">
                        <img src="@img/hero-news-img.webp" alt="news image">
                    </div>
                    <h1 class="news-nav__title title">Заголовок новини</h1>
                    <div class="date-container">
                        <div class="calendar">
                            <img src="@img/calendar-blue.svg" alt="calendar">
                        </div>
                        <span>06.01.2024</span>
                    </div>
                    <div class="navigation-buttons">
                        <a class="button">
                            <img src="@img/left-arrow-news.svg" alt="arrow">
                            Попередня новина
                        </a>
                        <div class="divider-up"></div>
                        <a class="button">
                            Наступна новина
                            <img src="@img/right-arrow-news.svg" alt="arrow">
                        </a>
                    </div>
                    <div class="news-text">
                        <div class="news-text__txt">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consectetur
                                earum
                                quos
                                error enim voluptas odit nobis labore animi, recusandae ad, ipsum vitae quas
                                iure
                                facere
                                optio natus illo ullam.</p>
                        </div>
                        <div class="news-text__mark">
                            <p><strong>Lorem ipsum dolor sit amet consectetur</strong></p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi error mollitia
                                quasi
                                voluptatem ducimus necessitatibus quisquam, repellendus laborum? Iste cum quidem
                                molestias reprehenderit officiis quaerat eveniet consectetur dignissimos nulla
                                delectus!
                            </p>
                        </div>
                        <div class="news-text__txt">
                            <p><strong>Ольга Передерій, тренерка жіночої збірної України U-19,
                                    тренерка національної
                                    збірної України:</strong></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quos repellat
                                fugit
                                quam
                                perspiciatis voluptatibus voluptas ab voluptatem, ex aperiam provident deleniti,
                                aliquid
                                enim at, eaque cumque expedita possimus praesentium.

                            </p>
                        </div>
                        <div class="news-text__txt">
                            <p><strong>Ольга Передерій, тренерка жіночої збірної України U-19,
                                    тренерка національної збірної України:</strong></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quos repellat
                                fugit
                                quam
                                perspiciatis voluptatibus voluptas ab voluptatem, ex aperiam provident deleniti,
                                aliquid
                                enim at, eaque cumque expedita possimus praesentium.
                            </p>
                        </div>
                        <div class="news-text__mark">
                            <p><strong>Lorem ipsum dolor sit amet consectetur</strong></p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi error mollitia
                                quasi
                                voluptatem ducimus necessitatibus quisquam, repellendus laborum? Iste cum quidem
                                molestias reprehenderit officiis quaerat eveniet consectetur dignissimos nulla
                                delectus!
                            </p>
                        </div>
                    </div>
                    <div class="menu-bar">
                        <div class="menu-bar__top">
                            <div class="menu-bar__titles">
                                <p class="bar-title"><strong>Федерація гандболу України</strong></p>
                                <a class="sub-title">
                                    <p>#Збірні України</p>
                                </a>
                            </div>
                            <div class="navigation-buttons menu-bar__nav">
                                <a class="button">
                                    <img src="@img/left-arrow-news.svg" alt="arrow">
                                    Попередня новина
                                </a>
                                <div class="divider-up"></div>
                                <a class="button">
                                    Наступна новина
                                    <img src="@img/right-arrow-news.svg" alt="arrow">
                                </a>
                            </div>
                        </div>
                        <div class="menu-bar__divider"></div>
                        <div class="social-links">
                            <div class="social-link">
                                <a class="social-link__link">
                                    <div class="social-link__img"><img src="@img/telegram.svg" alt="telegram"
                                                                       width="24" height="24">
                                    </div>
                                    <p>Telegram</p>
                                </a>
                            </div>
                            <div class="social-link">
                                <a class="social-link__link">
                                    <div class="social-link__img"><img src="@img/facebook-logo.svg"
                                                                       alt="facebook" width="24" height="24">
                                    </div>
                                    <p>Facebook</p>
                                </a>
                            </div>
                            <div class="social-link">
                                <a class="social-link__link">
                                    <div class="social-link__img"><img src="@img/viber.svg" alt="viber"
                                                                       width="24" height="24">
                                    </div>
                                    <p>Viber</p>
                                </a>
                            </div>
                            <div class="social-link">
                                <a class="social-link__link">
                                    <div class="social-link__img"><img src="@img/whatsapp.svg" alt="whatsapp"
                                                                       width="24" height="24">
                                    </div>
                                    <p>WhatsApp</p>
                                </a>
                            </div>
                            <div class="social-link">
                                <a class="social-link__link">
                                    <div class="social-link__img"><img src="@img/mail.svg" alt="mail" width="24"
                                                                       height="24">
                                    </div>
                                    <p>E-mail</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="related-news">
        <div class="related-news__container container">
            <h2 class="related-news__title title">Пов’язанні новини</h2>
            <div class="news-wrapper">
                <button class="slider-control slider-control--left">
                    <img class="slider-control__icon" src="@img/left-arrow-news.svg" alt="arrow">
                </button>
                <div class="news-card">
                    <img class="news-card__image" src="@img/news-photo.webp" alt="новина" />
                    <div class="news-card__info">
                        <span class="news-card__category">Збірні України</span>
                        <div class="news-card__date">
                            <img src="@img/calendar-news.svg" alt="Календар" class="news-card__icon" />
                            <span>12 вересня 2024</span>
                        </div>
                    </div>
                    <div class="news-card__divider"></div>
                    <div class="text">
                        <h3 class="text__title">Заголовок новини</h3>
                        <p class="text__text">Короткий опис новини, що містить основну інформацію про
                            подію.</p>
                        <div class="text__btn">
                            <a class="text__link" href="#">Детальніше</a>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <img class="news-card__image" src="@img/news-photo.webp" alt="новина" />
                    <div class="news-card__info">
                        <span class="news-card__category">Збірні України</span>
                        <div class="news-card__date">
                            <img src="@img/calendar-news.svg" alt="Календар" class="news-card__icon" />
                            <span>12 вересня 2024</span>
                        </div>
                    </div>
                    <div class="news-card__divider"></div>
                    <div class="text">
                        <h3 class="text__title">Заголовок новини</h3>
                        <p class="text__text">Короткий опис новини, що містить основну інформацію про
                            подію.</p>
                        <div class="text__btn">
                            <a class="text__link" href="#">Детальніше</a>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <img class="news-card__image" src="@img/news-photo.webp" alt="новина" />
                    <div class="news-card__info">
                        <span class="news-card__category">Збірні України</span>
                        <div class="news-card__date">
                            <img src="@img/calendar-news.svg" alt="Календар" class="news-card__icon" />
                            <span>12 вересня 2024</span>
                        </div>
                    </div>
                    <div class="news-card__divider"></div>
                    <div class="text">
                        <h3 class="text__title">Заголовок новини</h3>
                        <p class="text__text">Короткий опис новини, що містить основну інформацію про
                            подію.</p>
                        <div class="text__btn">
                            <a class="text__link" href="#">Детальніше</a>
                        </div>
                    </div>
                </div>
                <button class="slider-control slider-control--right">
                    <img class="slider-control__icon" src="@img/right-arrow-news.svg" alt="arrow">
                </button>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>