<%- include('./partials/header'); %>
<main class="main">
    <section class="standings">
        <div class="standings__container container">
            <div class="standings__inner">
                <div class="standings__title title">
                    <h1>Суперліга (Чоловіки)</h1>
                </div>
                <form class="form-filters" method="get">
                    <div class="custom-select">
                        <select name="season" id="season">
                            <option value="2024/2025">Сезон 2024/2025</option>
                            <option value="2025/2026">Сезон 2025/2026</option>
                            <option value="2026/2027">Сезон 2026/2027</option>
                            <option value="2027/2028">Сезон 2027/2028</option>
                            <option value="2028/2029">Сезон 2028/2029</option>
                            <option value="2029/2030">Сезон 2029/2030</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="tabs-inner">
                <div class="tabs" role="tablist">
                    <button class="tabs__button tabs__button--fonts active" role="tab" data-tab-name="tab-total-table">
                        Турнірна таблиця
                    </button>
                    <button class="tabs__button tabs__button--fonts" role="tab" data-tab-name="tab-group-a">
                        II етап / Група А
                    </button>
                    <button class="tabs__button tabs__button--fonts" role="tab" data-tab-name="tab-group-b">
                        II етап / Група Б
                    </button>
                </div>
                <div class="tabs-content">
                    <div class="content table tab-total-table active" role="tabpanel" aria-labelledby="tab-total-table">
                        <div class="standings__subtitle subtitle">
                            <h2>Турнірна таблиця</h2>
                        </div>
                        <div class="standings__table table">
                            <div class="table__respons">
                                <table class="table table--spacing">
                                    <thead>
                                    <tr class="row table__header">
                                        <th class="cell cell--dimensions  cell--header">Клуб</th>
                                        <th class="cell cell--dimensions cell--header">Ігри</th>
                                        <th class="cell cell--dimensions cell--header">В</th>
                                        <th class="cell cell--dimensions cell--header">П</th>
                                        <th class="cell cell--dimensions cell--header">М'ячі</th>
                                        <th class="cell cell--dimensions cell--header">Різниця</th>
                                        <th class="cell cell--dimensions cell--header">Очки</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="content table tab-group-a" role="tabpanel" aria-labelledby="tab-group-a">
                        <div class="standings__table table">
                            <div class="standings__subtitle subtitle">
                                <h2>II етап / Група А</h2>
                            </div>
                            <div class="table__respons">
                                <table class="table table--spacing">
                                    <thead>
                                    <tr class="row table__header">
                                        <th class="cell cell--dimensions cell--header">Клуб</th>
                                        <th class="cell cell--dimensions cell--header">Ігри</th>
                                        <th class="cell cell--dimensions cell--header">В</th>
                                        <th class="cell cell--dimensions cell--header">П</th>
                                        <th class="cell cell--dimensions cell--header">М'ячі</th>
                                        <th class="cell cell--dimensions cell--header">Різниця</th>
                                        <th class="cell cell--dimensions cell--header">Очки</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="content table tab-group-b" role="tabpanel" aria-labelledby="tab-group-b">
                        <div class="standings__table table">
                            <div class="standings__subtitle subtitle">
                                <h2>II етап / Група Б</h2>
                            </div>
                            <div class="table__respons">
                                <table class="table table--spacing">
                                    <thead>
                                    <tr class="row table__header">
                                        <th class="cell cell--dimensions cell--header">Клуб</th>
                                        <th class="cell cell--dimensions cell--header">Ігри</th>
                                        <th class="cell cell--dimensions cell--header">В</th>
                                        <th class="cell cell--dimensions cell--header">П</th>
                                        <th class="cell cell--dimensions cell--header">М'ячі</th>
                                        <th class="cell cell--dimensions cell--header">Різниця</th>
                                        <th class="cell cell--dimensions cell--header">Очки</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб
                                                        1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб
                                                        1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб
                                                        1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    <tr class="row row--color">
                                        <td class="cell cell--dimensions">
                                            <div class="cell__display">
                                                <a class="cell__link cell__link--scale" href="#"><img
                                                            class="cell__img"
                                                            src="@img/motor.png"
                                                            alt="logo"></a>
                                                <div class="cell__content"><a class="cell__link" href="#">Клуб
                                                        1</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cell cell--dimensions cell--center">5</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                        <td class="cell cell--dimensions cell--center">7</td>
                                        <td class="cell cell--dimensions cell--center">8</td>
                                        <td class="cell cell--dimensions cell--center">10</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer', {scripts: ['@js/standing.js']}); %>