<%- include('./partials/header'); %>
<main>
    <section class="standings">
        <div class="standings__container container">
            <div class="standings__title title">
                <h1>Турнірна таблиця</h1>
            </div>
            <div class="standings__inner">
                <div class="standings__subtitle subtitle">
                    <h2>Чоловіча суперліга</h3>
                </div>
                <div class="standings__select custom-select">
                    <div class="custom-select__inner">
                        <div class="custom-select__value" id="seasonSelected">Сезон 2022 - 2023</div>
                        <div class="options-container">
                            <div class="options-container__option" data-value="2023">Сезон 2023 - 2024</div>
                            <div class="options-container__option" data-value="2024">Сезон 2024 - 2025</div>
                            <div class="options-container__option" data-value="2025">Сезон 2025 - 2026</div>
                        </div>
                    </div>
                    <span class="custom-select__arrow">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </div>
            </div>
            <div class="standings__responsive">
                <div class="standings__table table">
                    <div class="row  header ">
                        <div class="cell cell--header">Клуб</div>
                        <div class="cell cell--header">Ігри</div>
                        <div class="cell cell--header">В</div>
                        <div class="cell cell--header">П</div>
                        <div class="cell cell--header">М'ячі</div>
                        <div class="cell cell--header">Різниця</div>
                        <div class="cell cell--header">Очки</div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">6</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">2</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">20</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">+10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">20</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">5</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">3</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">18</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">+5</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">18</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">15</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">0</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">16</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">15</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">0</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">16</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standings__subtitle subtitle">
                <h3>II етап / Група А</h3>
            </div>
            <div class="standings__responsive">
                <div class="standings__table table">
                    <div class="row  header ">
                        <div class="cell cell--header">Клуб</div>
                        <div class="cell cell--header">Ігри</div>
                        <div class="cell cell--header">В</div>
                        <div class="cell cell--header">П</div>
                        <div class="cell cell--header">М'ячі</div>
                        <div class="cell cell--header">Різниця</div>
                        <div class="cell cell--header">Очки</div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">6</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">2</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">20</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">+10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">20</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/izmail.jpg" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">5</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">3</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">18</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">+5</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">18</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/karpati.jpg" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">15</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">0</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">16</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">15</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">0</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">16</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standings__subtitle subtitle">
                <h3>II етап / Група Б</h3>
            </div>
            <div class="standings__responsive">
                <div class="standings__table table">
                    <div class="row  header ">
                        <div class="cell cell--header">Клуб</div>
                        <div class="cell cell--header">Ігри</div>
                        <div class="cell cell--header">В</div>
                        <div class="cell cell--header">П</div>
                        <div class="cell cell--header">М'ячі</div>
                        <div class="cell cell--header">Різниця</div>
                        <div class="cell cell--header">Очки</div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">6</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">2</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">20</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">+10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">20</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">5</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">3</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">18</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">+5</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">18</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">15</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">0</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">16</div>
                        </div>
                    </div>
                    <div class="row row--color">
                        <div class="cell cell--display" style="display: inline-flex; align-items: center;">
                            <a href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                            <div class="cell__content"><a href="#">Клуб 1</a></div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">10</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">4</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">15</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">0</div>
                        </div>
                        <div class="cell">
                            <div class="cell__content">16</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>