<%- include('./partials/header'); %>
<main>
    <section class="standings">
        <div class="standings__container container">
            <div class="standings__title title">
                <h1>Турнірна таблиця</h1>
            </div>
            <div class="standings__inner">
                <div class="standings__subtitle subtitle">
                    <h2>Чоловіча суперліга</h3>
                </div>
                <div class="standings__select custom-select">
                    <div class="custom-select__inner">
                        <div class="custom-select__value" id="seasonSelected">Сезон 2022 - 2023</div>
                        <div class="options-container">
                            <div class="options-container__option" data-value="2023">Сезон 2023 - 2024</div>
                            <div class="options-container__option" data-value="2024">Сезон 2024 - 2025</div>
                            <div class="options-container__option" data-value="2025">Сезон 2025 - 2026</div>
                        </div>
                    </div>
                    <span class="custom-select__arrow">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </div>
            </div>
            <div class="standings__table table">
                <div class="table__respons">
                    <table class="table table--spacing">
                        <thead>
                            <tr class="row table__header">
                                <th class="cell cell--header">Клуб</th>
                                <th class="cell cell--header">Ігри</th>
                                <th class="cell cell--header">В</th>
                                <th class="cell cell--header">П</th>
                                <th class="cell cell--header">М'ячі</th>
                                <th class="cell cell--header">Різниця</th>
                                <th class="cell cell--header">Очки</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="standings__subtitle subtitle">
                <h3>II етап / Група А</h3>
            </div>
            <div class="standings__table table">
                <div class="table__respons">
                    <table class="table table--spacing">
                        <thead>
                            <tr class="row table__header">
                                <th class="cell cell--header">Клуб</th>
                                <th class="cell cell--header">Ігри</th>
                                <th class="cell cell--header">В</th>
                                <th class="cell cell--header">П</th>
                                <th class="cell cell--header">М'ячі</th>
                                <th class="cell cell--header">Різниця</th>
                                <th class="cell cell--header">Очки</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="standings__subtitle subtitle">
                <h3>II етап / Група Б</h3>
            </div>
            <div class="standings__table table">
                <div class="table__respons">
                    <table class="table table--spacing">
                        <thead>
                            <tr class="row table__header">
                                <th class="cell cell--header">Клуб</th>
                                <th class="cell cell--header">Ігри</th>
                                <th class="cell cell--header">В</th>
                                <th class="cell cell--header">П</th>
                                <th class="cell cell--header">М'ячі</th>
                                <th class="cell cell--header">Різниця</th>
                                <th class="cell cell--header">Очки</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                            <tr class="row row--color">
                                <td class="cell">
                                    <div class="cell--display">
                                        <a class="cell__link cell__link--scale" href="#"><img class="cell__img" src="@img/motor.png" alt="logo"></a>
                                        <div class="cell__content"><a class="cell__link" href="#">Клуб 1</a></div>
                                    </div>
                                </td>
                                <td class="cell cell--center">5</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">10</td>
                                <td class="cell cell--center">7</td>
                                <td class="cell cell--center">8</td>
                                <td class="cell cell--center">10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>