@include desktop {
  .header {
    &__logo {
      img {
        height: 83px;
      }
    }
  }
}

@include laptopl {
  .header {
    &__container {
      align-items: center;
      justify-content: space-between;
    }

    &__bottom {
      display: flex;
    }
    &__top {
      display: none;
    }
    &__nav-wrapper {
      margin-left: 0;
      flex-grow: 0;
      justify-content: initial;
    }

    &__list {
      display: none;
    }

    &__line {
      position: absolute;
      left: 0;
      width: 32px;
      height: 2px;
      transition: 0.3s ease;
    }
    .burger {
      display: flex;
      margin-left: auto;
    }
  }

  .top__item {
    .menu-link {
      font-size: 12px;
    }
  }
}

@include mobilexs {
  .header {
    &__top {
      display: none;
    }
  }
}
