@import "../utils/breakpoint";

@include laptopxl {
  .hero-section {
    padding: 40px 0 50px;
    &__container {
      flex-direction: column;
      gap: 20px;
    }
    .large-title {
      font-size: 30px;
      width: auto;
    }
  }
}
@include laptopl {
  .hero-section__content {
    p,
    span {
      font-size: 16px;
    }
  }
}
@include tablet {
  .hero-section {
    &__btn {
      a {
        padding: 15px 25px;
      }
    }
  }
  @include mobilel {
    .hero-section {
      .large-title {
        font-size: 23px;
      }
      &__btn {
        a {
          padding: 10px 20px;
        }
      }
    }
  }
}

@include mobilexs {
  .hero-section {
    padding-top: 30px;
    &__container {
      grid-template-columns: 1fr;
    }
    &__content {
      margin-bottom: 20px;
    }
  }
}
