@import "../utils/breakpoint";
@include desktop {
}
@include laptopxl {
}
@include laptopl {
  .title {
    font-size: 35px;
  }
}
@include tablet {
}
@include mobilel {
  .title {
    font-size: 30px;
  }
}

@include mobilexs {
  .title {
    font-size: 20px;
  }
}
