@import "./breakpoint";

@include mobilexs {
  .news-nav {
    .social-links {
      justify-content: flex-start;
      .social-link {
        padding: 5px;
        &__link {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
