@import "../utils/breakpoint";

@include mobilexs {
  .navigation-buttons {
    gap: 0px 5px;
    width: 100%;
    margin-bottom: 15px;
    .button {
      gap: 5px;
      font-size: 11px;
      img {
        padding: 12px;
      }
    }
  }
}
