@use "../utils/breakpoint";
@use "../utils/variables";

@include breakpoint.desktop {
}
@include breakpoint.laptopxl {
}
@include breakpoint.laptopl {
  .title {
    font-size: 35px;
  }
}
@include breakpoint.tablet {
}
@include breakpoint.mobilel {
  .title {
    font-size: 30px;
  }
}

@include breakpoint.mobilexs {
  .title {
    font-size: 23px;
  }
}
