.navigation-buttons {
  display: flex;
  //   flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  max-width: 436px;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 23px;
}
.button {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  &:hover {
    color: $color-brand-yellow;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid $color-brand-yellow;
    border-radius: 50%;
    color: #000;
    padding: 18px;
    transition: background 0.3s;
    &:hover {
      background: rgba(255, 255, 0, 1);
    }
  }
}
.divider-up {
  width: 1px;
  height: 20px;
  background: #b9b9b9;
}
