@import "../utils/breakpoint";

@include laptopxl {
  .news {
    &__section {
      flex-direction: column-reverse;
      align-items: center;
    }
    .card {
      max-width: 860px;
      &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 34px;
      }
    }
    .divider {
      max-width: 350px;
      &--hidden {
        display: none;
      }
    }
  }
}

@include mobilel {
  .news {
    &__container {
      padding-top: 20px;
      padding-bottom: 40px;
    }
    .card {
      &__content {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .news-nav {
      .news-text {
        font-size: 16px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@include mobilexs {
  .news {
    &__container {
      padding-bottom: 30px;
    }
  }
}
