@import "../utils/breakpoint";

@include laptopxl {
  .related-news {
    .news-card {
      flex: 0 0 40%;
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
}

@include tablet {
  .related-news {
    .news-card {
      flex: 1 0 70%;
      &:nth-child(n + 3) {
        display: none;
      }
    }
  }
}
@include mobilel {
  .news-wrapper {
    position: relative;
    .news-card {
      margin-bottom: 20px;
    }
    .slider-control {
      &--left,
      &--right {
        position: absolute;
      }
      &--left {
        top: 100%;
        left: 112px;
      }
      &--right {
        top: 100%;
        right: 112px;
      }
    }
  }
}

@include mobilexs {
  .related-news {
    &__title {
      text-align: center;
      margin-bottom: 20px;
      margin-left: 0;
    }

    .news-wrapper {
      position: relative;
      .slider-control {
        &--left,
        &--right {
          position: absolute;
        }
        &--left {
          top: 100%;
          left: 80px;
        }
        &--right {
          top: 100%;
          right: 80px;
        }
      }
    }
  }
}
