@use "../utils/variables";
.header {
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top {
    position: relative;
    z-index: 1;
    background-color: #00477f;
    width: 100%;
    padding: 16px 0;
    margin: 0;
  }
  &__main {
    &--position {
      left: 0;
      position: absolute;
      right: 0;
      z-index: 100;
    }
    &--bg {
      background-color: $color-brand-light;
    }
  }
  &__bottom {
    position: relative;
    z-index: 1;
    padding: 14px 0;
  }
  .top {
    &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      position: relative;
      display: flex;
      gap: 12px;
      margin: 0 15px;
      &:active .arrow {
        display: block;
      }
    }
    &__item:hover {
      .highlight {
        opacity: 1;
      }
    }
    &__item:hover {
      .arrow {
        display: inline;
      }
    }
    &__socials {
      display: flex;
      justify-content: center;
    }
  }
  .social {
    &__icon {
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      transition: background-color 0.3s;
    }
    &__icon.active {
      background-color: s$color-brand-white;
    }
    &__icon img {
      width: 18px;
      height: 18px;
      transition: opacity 0.3s;
    }
    &__icon.active img {
      opacity: 0;
    }
  }
  &__logo img {
    height: 103px;
    width: auto;
  }
  &__nav-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0 15px;
  }
  &__link {
    position: relative;
    &:hover {
      color: $color-brand-yellow;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: $color-brand-yellow;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .submenu {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding-top: 10px;
      padding-bottom: 15px;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
.arrow {
  display: none;
  margin-left: 5px;
  width: 10px;
  height: auto;
}
.highlight {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.menu-link {
  font-size: 15px;
  transition: color 0.3s;
  &:hover {
    color: #f9e725;
  }
}
.search-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: $color-brand-yellow;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  img {
    width: 20px;
    height: 20px;
  }
  .active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
