@import "../utils/breakpoint";

.hero-section {
  padding: 90px 0 0;
  position: relative;
  background:url('@img/bg.svg') no-repeat; background-size:cover; background-position:50% 50%;
  &__container {
    display: flex;
    padding: 40px 20px;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;

    span {
      font-size: 18px;
      font-weight: 200;
      line-height: 1.6;
      text-transform: uppercase;
      color: $color-brand-yellow;
      margin-bottom: 11px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 22px;
    }
  }
  &__btn {
    margin-bottom: 50px;
  }
  &__btn,
  &__btn-mobile {
    a {
      display: inline-block;
      background-color: $color-brand-yellow;
      color: #000;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      padding: 17px 30px;
      &:hover {
        background-color: $color-brand-light;
        color: $color-brand-white;
        border: 2px solid $color-brand-white;
      }
    }
  }
  &__btn-mobile {
    text-align: center;
    display: none;
  }
}

.large-title {
  display: block;
  position: relative;
  max-width: 675px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  z-index: 1;
  text-transform: uppercase;
  transition: text-decoration-color 0.3s;
  margin-bottom: 10px;
  width: 118%;
}

.image-container {
  position: relative;
  box-shadow: 0 12px 20px -4px #030829b3;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 37px;
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 792 / 517;
    object-fit: cover;
    border-radius: 25px;
  }
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(-50%);
}

.navigation-button {
  background-color: transparent;
  color: $color-brand-white;
  border: 1px solid $color-brand-white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 5px;
}
.navigation {
  display: flex;
  gap: 5px;
  &__box {
    width: 12px;
    height: 4px;
    background-color: $color-brand-white;
    border-radius: 5px;
    transition: width 0.3s, background-color 0.3s;
  }
}
.box.active {
  width: 86px;
  background-color: $color-brand-yellow;
}
@include laptopxl {
  .hero-section {
    padding: 40px 0 0;
    &__container {
      flex-direction: column;
      gap: 20px;
    }
    .large-title {
      font-size: 30px;
      width: auto;
    }
  }
}
@include laptopl {
  .hero-section {
    &__btn {
      display: none;
    }
    &__btn-mobile {
      display: inline-block;
    }
    &__content {
      p {
        margin-bottom: 10px;
      }
      p,
      span {
        font-size: 16px;
      }
    }
  }
}
@include tablet {
  .hero-section {
    &__btn {
      a {
        padding: 15px 0;
      }
    }
  }
  @include mobilel {
    .hero-section {
      .large-title {
        font-size: 23px;
      }
      &__btn {
        a {
          padding: 10px 20px;
        }
      }
    }
  }
}

@include mobilexs {
  .hero-section {
    padding-top: 30px;
    &__container {
      grid-template-columns: 1fr;
    }
    &__content {
      margin-bottom: 20px;
    }
    &__btn-mobile {
      a {
        padding: 10px 20px;
      }
    }
  }
}
