@use "../utils/breakpoint";
@use "../utils/variables";

.match-report {
    padding-top: 30px;
    padding-bottom: 50px;
    // &__sticky {
    //     position: sticky;
    //     top: 0;
    //     background-color: white;
    //     z-index: 1000;
    // }
    &__inner {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.2;
        background-color: #f7f7f7;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #035ca2;
        padding: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
    }

    &__team,
    &__round,
    &__group,
    &__date {
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__separator {
        display: block;
        margin: 0 20px;
    }

    .team {
        padding: 20px 0 30px 0;

        &__date {
            font-size: 18px;
            font-weight: 200;
            text-align: center;
            color: variables.$color-brand-light;
        }

        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            flex-grow: 1;
            width: calc(50% - 48px);

            &--fonts {
                font-size: 20px;
                font-weight: 700;
                line-height: 1.2;
                color: #035ca2;
            }
        }

        &__img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 140px;
            max-height: 180px;
            aspect-ratio: 140 / 180;
            overflow: hidden;
            transition: transform 0.3s;

            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                margin-left: auto;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        &__origin {
            font-weight: 400;
            font-size: 16px;
            color: #555;
        }
    }

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &--fonts {
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
            color: #1c1c1c;
        }

        &__half {
            font-weight: 400;
            font-size: 20px;
            color: #7d7d7d;
        }

        &__link {
            display: inline-block;
            transition: transform 0.3s;
            height: auto;

            img {
                width: 50px;
                height: auto;
                max-width: 100%;
                object-fit: contain;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .match-stat {
        display: flex;
        justify-content: space-between;

        &--hidden {
            // height: 0;
            // visibility: hidden;
            // opacity: 0;
            // transition: all 0.4s ease-out;
            // padding: 0;
            // margin: 0;
        }

        &__list {
            display: flex;
            justify-content: space-around;
            width: calc(50% - 15px);
            padding-top: 6px;
            border-top: 1px solid #eee;

            &--mobil {
                display: none;
            }
        }

        &__item {
            text-align: center;
            width: 20%;
            flex-shrink: 0;

            &--fonts {
                font-size: 14px;
                font-weight: 200;
                line-height: 1.2;
                color: #8c8c8c;
            }
        }

        &__value {
            color: #353535;
        }

        &__lebel,
        &__value {
            text-align: center;
            display: block;
        }
    }

    .links-block {
        position: sticky;
        top: 0;
        background-color: white;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        &--markup {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &__item {
            padding: 10px;

            a {
                color: variables.$color-brand-light;

                &:hover {
                    text-decoration: underline;
                }
            }

            a i {
                margin-right: 8px;
                font-size: 20px;
            }
        }
    }

    .tabs {
        width: 100%;
        display: flex;
        margin-bottom: 40px;

        &__button {
            background: none;
            flex: 1;
            flex-basis: auto;
            cursor: pointer;
            padding: 11px;
            border-bottom: 2px solid #ccc;

            &--fonts {
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2;
                color: variables.$color-brand-light;
            }
        }

        .active {
            background-color: #fff59d;
            border-bottom: 2px solid #007bff;
            font-weight: bold;
        }
    }

    .content {
        display: none;

        &.active {
            display: block;
        }
    }
}

.table {
    width: 100%;
    border: none;
    border-collapse: collapse;

    &__title {
        margin-bottom: 25px;
    }

    &__club-title {
        align-items: center;
        gap: 10px;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: underline;
        line-height: 1.5;
        color: variables.$color-brand-light;
        display: none;
    }

    &__layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    &__inner {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        min-width: 300px;
    }

    &__header {
        background: linear-gradient(90deg, #035ca2, #044f8b);

        th {
            text-transform: uppercase;
            text-align: left;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }

    thead tr th:first-child {
        border-radius: 8px 0 0 8px;
    }

    thead tr th:last-child {
        border-radius: 0 8px 8px 0;
    }

    tbody tr td:first-child {
        border-radius: 8px 0 0 8px;
    }

    tbody tr td:last-child {
        border-radius: 0 8px 8px 0;
    }

    .row {
        &--color {
            color: #1c1c1c;
            font-size: 16px;
            border-bottom: 5px solid white;

            &:nth-child(odd) {
                background-color: #8fb4d8;
            }

            &:nth-child(even) {
                background-color: #ebebeb;
            }

            &:hover {
                background-color: #fff59d;
            }
        }
    }

    .cell {
        &--left {
            text-align: left;
        }

        &--center {
            text-align: center;
        }

        &--no-wrap {
            white-space: nowrap;
        }
    }

    td,
    th {
        padding: 12px;
    }
}

@include breakpoint.laptopxl {
    .match-report {
        &__inner {
            font-size: 20px;
        }
    }
}

@include breakpoint.laptopl {
    .match-report {
        .tabs {
            flex-direction: column;
            align-items: flex-start;

            &__button {
                position: relative;
                margin-right: 0;
                padding: 5px;
                border-bottom: none;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2px;
                    height: 100%;
                    background-color: rgb(211, 211, 211);
                    transition: background-color 0.3s;
                }

                &.active::before {
                    background-color: rgb(0, 123, 255);
                }

                &:hover::before {
                    background-color: rgba(0, 123, 255, 0.5);
                }
            }

            .active {
                background-color: transparent;
                border-bottom: none;
            }
        }

        .table {
            &__layout {
                flex-direction: column;
            }

            &__club-title {
                display: flex;
            }
        }
    }
}

@include breakpoint.tablet {
    .match-report {
        &__inner {
            font-size: 16px;
            padding: 15px;
        }

        .match-stat {
            border-top: 1px solid #eee;

            &__list {
                flex-direction: column;
                padding-top: 10px;
                width: 100px;
                border-top: none;

                &--mobil {
                    text-align: center;
                    display: block;
                }
            }

            &__item {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 2px;
                }
            }

            &__label {
                display: none;
            }
        }

        .score {
            &--fonts {
                font-size: 25px;
            }

            &__half {
                font-size: 20px;
            }
        }

        .links-block {
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;

            &--markup {
                flex-direction: column;
            }

            &--fonts {
                font-size: 15px;
            }

            &__item {
                padding: 5px;
            }
        }
    }
}

@include breakpoint.mobilel {
    .match-report {
        padding-top: 18px;
        padding-bottom: 30px;

        &__inner {
            font-size: 12px;
            padding: 8px;
        }

        &__separator {
            margin: 0 10px;
        }

        .score {
            &--fonts {
                font-size: 20px;
            }

            &__half {
                font-size: 14px;
            }
        }

        .table {
            &__club-title {
                font-size: 18px;
            }
        }
    }
}

@include breakpoint.mobilexs {
    .match-report {
        padding-top: 15px;
        padding-bottom: 20px;

        .team {
            padding: 15px 0 20px 0;

            &__date {
                font-size: 14px;
            }

            &__img {
                max-width: 80px;
            }

            &__info--fonts {
                font-size: 15px;
            }

            &__origin {
                font-size: 12px;
            }
        }

        .table {
            &__title {
                font-size: 20px;
            }

            th,
            td {
                font-size: 18px;
                padding: 24px 4px;
            }
        }
    }
}
