.news-section {
  margin-bottom: 30px;
  &__container {
    padding-top: 90px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    h2 {
      font-size: 45px;
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
      color: $color-brand-dark;
    }
  }

  &__btn,
  &__btn-mobile {
    a {
      display: inline-flex;
      font-size: 18px;
      align-items: center;
      background-color: $color-brand-yellow;
      padding: 13px 16px;
      color: #000;
      border-radius: 5px;
      background-image: url("../img/down-arrow.svg");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 16px 16px;
      padding-right: 40px;
    }
  }
  &__btn-mobile {
    display: none;
  }
  &__content {
    display: flex;
    gap: 30px;
    width: 100%;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
  }
}
.banner {
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__image {
    width: 100%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .content {
    max-width: 417px;
    height: 611px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/bg.svg") no-repeat;
    background-position: 10%;
    background-size: cover;
    margin: 0 auto;
    padding: 10px;

    &__title {
      color: $color-brand-white;
      text-align: center;

      h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
      }
    }
  }
  .logo-container {
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 20;
    overflow: visible;
    .logo {
      &__img {
        height: auto;
        max-width: 103px;
      }
    }
  }
}
