@import "../utils/breakpoint";

.news-card {
  position: relative;
  width: 100%;
  max-width: 387px;
  display: flex;
  flex-direction: column;
  background: $color-brand-white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  &__link {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }
  &__image {
    width: 100%;
    aspect-ratio: 567 / 378;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0;
    margin-bottom: 15px;
  }
  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 13px;
      font-weight: 300;
      line-height: 2;
      color: #b8b8b8;
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  &__divider {
    height: 1px;
    background-color: #e1e1e1;
    margin: 10px 0;
  }
  &__category {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: $color-brand-light;
  }
  .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin: 20px;
    &__title {
      font-size: 22px;
      font-weight: 600;
      color: #353535;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 18px;
      font-weight: 200;
      color: #353535;
      margin-bottom: 15px;
    }

    &__btn {
      margin-top: auto;
    }
    &__link {
      position: relative;
      display: inline-block;
      padding: 10px 15px;
      border: 1px solid #035ca2;
      background-color: $color-brand-white;
      color: #000;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      z-index: 6;
      &:hover {
        background-color: $color-brand-light;
        color: $color-brand-white;
      }
    }
  }
}

@include laptopl {
  .news-card {
    &:nth-child(2),
    &:nth-child(4) {
      display: none;
    }
    &__info {
      padding: 10px 10px 0;
      margin-bottom: 5px;
    }
    &__divider {
      margin: 5px 0;
    }
    &__category {
      font-size: 12px;
    }
    &__date {
      span {
        font-size: 12px;
      }
    }
    .text {
      margin: 10px;
      &__title {
        font-size: 20px;
      }
      &__text {
        font-size: 16px;
      }
    }
  }
}
@include mobilexs {
  .news-section {
    .news-card {
      &:nth-child(2),
      &:nth-child(4) {
        display: block;
      }
    }
  }
}
