.news-section {
  margin-bottom: 30px;
  &__container {
    padding-top: 90px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    h2 {
      font-size: 45px;
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
      color: $color-brand-dark;
    }
  }

  &__btn {
    a {
      display: inline-flex;
      font-size: 18px;
      align-items: center;
      background-color: $color-brand-yellow;
      padding: 13px 16px;
      color: #000;
      border-radius: 5px;
      background-image: url("../img/down-arrow.svg");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 16px 16px;
      padding-right: 40px;
    }
  }
  &__content {
    display: flex;
    gap: 30px;
    width: 100%;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
  }
  .news-card {
    width: 100%;
    max-width: 387px;
    display: flex;
    flex-direction: column;
    background: $color-brand-white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &__image {
      width: 100%;
      aspect-ratio: 567 / 378;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 15px 0;
      margin-bottom: 15px;
    }
    &__date {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 13px;
        font-weight: 300;
        line-height: 2;
        color: #b8b8b8;
      }
    }
    &__icon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
    &__divider {
      height: 1px;
      background-color: #e1e1e1;
      margin: 10px 0;
    }

    .text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
      margin: 20px;
      &__title {
        font-size: 22px;
        font-weight: 600;
        color: #353535;
        margin-bottom: 10px;
      }

      &__text {
        font-size: 18px;
        font-weight: 200;
        color: #353535;
        margin-bottom: 15px;
      }

      &__btn {
        margin-top: auto;
        a {
          display: inline-block;
          padding: 10px 15px;
          border: 1px solid #035ca2;
          background-color: $color-brand-white;
          color: #000;
          border-radius: 5px;
          text-decoration: none;
          text-align: center;

          &:hover {
            background-color: darken($color-brand-yellow, 10%);
          }
        }
      }
    }
    &__category {
      font-size: 13px;
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
      color: $color-brand-light;
    }
  }
}
.banner {
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__image {
    width: 100%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .content {
    max-width: 417px;
    width: 417px;
    height: 611px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/bg.svg") no-repeat;
    background-position: 10%;
    background-size: cover;
    margin: 0 auto;
    padding: 10px;

    &__title {
      color: $color-brand-white;
      text-align: center;

      h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
      }
    }
  }
  .logo-container {
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 20;
    overflow: visible;
    .logo {
      &__img {
        height: auto;
        max-width: 103px;
      }
    }
  }
}
