.related-news {
  padding-bottom: 60px;
  &__title {
    margin: 0 0 25px 75px;
  }
  .news-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  &__button {
    text-align: left;
  }
  .round-button-container {
    display: flex;
    align-items: center;
  }
  .round-button {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #035ca2;
    background-color: $color-brand-white;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
  }
  .round-button:hover {
    background-color: $color-brand-light;
  }
}
