@use "../utils/variables";
@use "../utils/breakpoint";

.standings {
    padding-top: 30px;
    padding-bottom: 50px;

    &__title {
        margin-bottom: 15px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__date {
        margin: 15px 0 20px;
    }

    &__subtitle {
        margin-bottom: 15px;
    }
}

.table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;

    &__respons {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(240, 240, 240, 0.5);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(202, 201, 201, 0.8);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(147, 147, 147, 1);
        }
    }

    thead {
        .row {
            &.table__header {
                background-color: variables.$color-brand-light;
            }
        }

        .cell {
            // text-align: center;
            font-weight: 700;
            padding: 12px;
        }
    }

    tbody {
        .row {
            &--color {
                color: #353535;
            }
        }
    }

    .cell {
        // flex: 1;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        padding: 10px 15px;

        &--dimensions {
            min-width: 100px;
            height: 100%;
        }

        &__img {
            width: 25px;
            margin-right: 10px;
        }

        &__link {
            cursor: pointer;
            display: inline-block;

            &--scale {
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__display {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--header {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
            color: #fff;
            padding: 5px;
        }
    }
}

@include breakpoint.laptopxl {
    .table {
        .cell {
            padding: 5px;
        }
    }
}

@include breakpoint.laptopl {
    .subtitle {
        font-size: 24px;
    }
}

@include breakpoint.tablet {
}

@include breakpoint.mobilel {
    .subtitle {
        font-size: 20px;
    }
}
