@use "../utils/breakpoint";
@use "../utils/variables";

.calendar {
    .tour {
        &__inner {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        &__buttons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
        }
        &__btn {
            font-weight: 600;
            border-radius: 8px;
            background-color: variables.$color-brand-yellow;
            color: #383838;
            padding-inline: 40px;
            padding-block: 16px;
            letter-spacing: 0.5px;
            border: 2px solid transparent;
            &:hover {
                background-color: darken(variables.$color-brand-yellow, 10%);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
            &.active {
                background-color: transparent;
                border: 2px solid variables.$color-brand-yellow;
            }
        }
    }
}
