@use "../utils/variables";
@use "../utils/breakpoint";

.standings {
    padding-top: 30px;
    padding-bottom: 50px;
    &__title {
        margin-bottom: 15px;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    &__date {
        margin: 15px 0 20px;
    }
    &__select {
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 15px;
    }
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 280px;
    min-width: 230px;
    &__inner {
        position: relative;
        width: 100%;
        background-color: variables.$color-light-grey;
        border-radius: 5px;
        border: 1px solid variables.$color-light-grey;
        cursor: pointer;
        &.open .options-container {
            display: block;
            &.arrow i {
                transform: rotate(180deg);
            }
        }
    }
    &__value {
        padding: 10px;
        font-size: 16px;
        color: variables.$color-brand-light;
        font-weight: bold;
        background-color: variables.$color-light-grey;
    }
    &__arrow {
        position: absolute;
        top: 50%;
        right: 10px;
        color: variables.$color-brand-light;
        transform: translateY(-50%);
        pointer-events: none;
        transition: transform 0.3s ease;
    }
    .options-container {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: variables.$color-light-grey;
        border-radius: 5px;
        border: 1px solid variables.$color-light-grey;
        z-index: 10;
        &__option {
            padding: 10px;
            font-size: 16px;
            color: variables.$color-brand-light;
            cursor: pointer;
            &:hover {
                background-color: variables.$color-brand-light;
                color: variables.$color-brand-yellow;
            }
        }
    }
}
.table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    &__respons {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 20px 0;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(240, 240, 240, 0.5);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(202, 201, 201, 0.8);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(147, 147, 147, 1);
        }
    }

    thead {
        .row {
            &.table__header {
                background-color: variables.$color-brand-light;
            }
        }

        .cell {
            text-align: center;
            font-weight: 700;
            padding: 12px;
        }
    }

    tbody {
        .row {
            &--color {
                &:nth-child(odd) {
                    background-color: #8fb4d8;
                }

                &:nth-child(even) {
                    background-color: #ebebeb;
                }
            }
        }
    }

    .cell {
        flex: 1;
        min-width: 100px;
        height: 100%;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        color: #353535;
        padding: 10px 15px;

        &__img {
            width: 25px;
            margin-right: 10px;
        }

        &__link {
            cursor: pointer;
            display: inline-block;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &--header {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
            color: #fff;
            padding: 5px;
        }
    }
}

@include breakpoint.laptopxl {
    .table {
        .cell {
            padding: 5px;
        }
    }
}
@include breakpoint.laptopl {
    .subtitle {
        font-size: 24px;
    }
}
@include breakpoint.tablet {
}
@include breakpoint.mobilel {
    .subtitle {
        font-size: 20px;
    }
    .custom-select {
        .options-container {
            left: 0;
        }
    }
}

@include breakpoint.mobilexs {
    .custom-select {
        &__inner {
            width: 100%;
            max-width: 100%;
            padding: 5px;
        }
    }
}
